@import 'colors';
@import 'reset_new';
@import 'fonts';

body {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	background-color: $main-black;
	&._block{
		overflow: hidden;
	}
	p{
		font-weight: 600;
	}
}

.container {
	max-width: 1200px;
	margin: 0 auto;

}


.header {
	&__logo{
		width: 132px;
		height: 40px;
		&--link{
			z-index: 1;
		}
	}
	&__contact{
		border: 1px solid #fff;
		border-radius: 5px;
		padding: 8px 20px 8px 20px;
		margin-right: 15px;
		color: #fff;
		padding: auto;
		&:hover{
			border: 1px solid $main-purple;
			color: $main-purple;
		}
	}
	
}
.header-container {
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	align-items: center; 

}
.header-nav {
	// max-width: 420px;
	&__list {
		font-family: $nunito_font;
		font-weight: 400;
		color: $white-07;
		font-size: 18px;
		display: flex;
		align-items: center;
		:not(:first-child) {
			padding-left: 60px;
		}
	}
	&__item {
		a{
			color: $white-07;
		}
		a:hover{
			color: $main-purple;
		}
	}

}

@media (max-width: 768px) {
	.header-container {
		justify-content: space-around;
	}
	.header-nav {
		&__list {
			:not(:first-child) {
				padding-left: 20px;
			}
		}
	}
	.header__contact {
		
		
	}
}
@media (min-width: 720px) {
	.header__sort {
		display: none;
	}
	.wrapper{
		padding: 0px 25px;
	}
}
@media (max-width: 725px) {
	.header {
		&._active{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 10;
		}
		&__sort {
			z-index: 5;
			display: block;
			position: relative;
			width: 30px;
			height: 18px;
			cursor: pointer;

			span, &::before, &::after {
				position: absolute;
				right: 0;
				height: 10%;
				transition: all 0.3s ease 0s;
				background-color: #fff;
			}
			&::before, &::after{
				content: "";
			}
			&::before {
				top: 0;
				width: 100%;
			}
			span {
				top: 50%;
				width: 75%;
				transform: scale(1.0) translate(0px, -50%);
			}
			&::after {
				bottom: 0;
				width: 50%;
			}
			&._active{
				span {
					transform: scale(0) translate(0px, -50%);
				}
				&::before {
					top: 50%;
					transform: rotate(-45deg) translate(0px, -50%);
				}
				&::after{
					bottom: 50%;
					width: 100%;
					transform: rotate(45deg) translate(0px, 50%);
				}
			}
		}
	}
	.header-container {
		justify-content: space-between;
		padding: 25px;

		&._active{
			padding: 49px 49px 49px 25px;
		}
	}
	.header-nav {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #101011;
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;

		&._active{
			left: 0;
		}
		&__list {
			flex-direction: column;
			align-items: center;
			font-size: 49px;
			:not(:first-child){
				padding-top: 49px;
				::after{
					content: "";
					position: relative;
					top: 3px;
					height: 3px;
					width: 100%;
					color: gray;
				}
			}
		}
	}
	.container {
		padding-left: 0;
	}

	
}

// -------------------MAIN-----------------

.button {
	font-family: $nunito_font;
	font-weight: 700;
	font-size: 20px;
	padding: 15px 25px;
	background-color: $main-purple;
	border-radius: 5px;
	color: #fff;
}

.main {
	color: #fff;
}
.main-container {
}
.pop-block {
	&__main-text {
		font-family: "GraphikBold", sans-serif;
		font-weight: 700;
		font-size: 80px;

	}
	&__words {
		max-width: 582px;
		margin-top: 150px;
	}
	&__image {
		padding-left: 5%;
		
		img {
			max-width: 100%;
			height: auto;
		}
	}
	&--main {
		display: flex;

	}
	&__text {
		font-weight: 400;
		color: $white-07;
		font-size: 21px;
		line-height: 39px;
		&--main {
			padding: 25px 0 50px 0;
			display: block;
			max-width: 532px;
		}
	}
}

// @media (max-width: 1300px) {
// 	.pop-block {
// 		&__image {
// 			padding-left: 100px;
// 		}
// 	}
	
// }
@media (max-width: 1150px) {
	.pop-block {
		&__image {
			padding-left: 0;
		}
	}
	
}
@media (max-width: 1035px) {
	.pop-block {
		&--main {
			flex-wrap: wrap;
		}
		&__words {
			margin-top: 100px;
		}
	}

}
@media (max-width: 760px) {
	.pop-block {
		&__main-text {
			font-size: 60px;
			line-height: 73px;
		}
		&__text {
			font-size: 18px;
			line-height: 32px;
		}
		&--main {
			margin-top: 0px;
			max-width: 370px;
		}
		&__words {
			margin-top: 50px;
		}
	}
	.wrapper {
		padding: 24px;
	}
	.video-block{
		&__text-content{
			flex-wrap: wrap
		}
		&__p_block {
			padding-top: 20px;
		}
	}
	
	
}
@media (max-width: 380px) {
	.pop-block {
		&__main-text {
			font-size: 44px;
			line-height: 64px;
		}
		&__text {
			font-size: 16px;
			line-height: 24px;
		}
		&--main {
			margin-top: 0px;
			min-width: 250px;
		}
	}

}

// VIDEO BLOCK
.video-block {

	&__video-box{
		padding-top: 30px;
	}
	&__container {

	}
	&__text-content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		max-width: 1200px;
	}
	&__p {
		font-family: $nunito_font;
		font-weight: 400;
		font-size: 14px;
	}
	&__p_block {
		max-width: 450px;
		color: $white-07;
		height: auto;
		padding-bottom: 25px;
	}
	&__h2 {
		font-family: $graphikbold_font;
		font-weight: 700;
		font-size: 40px;

	}
}
.video-block_main {
	margin-top: 150px;
}

@media (max-width: 840px) {
	.header-nav__list{
		:not(:first-child){
			padding-left: 30px;
		}
	}
}

// Service-block

.service {
	&__container{
		display: flex;
		flex-direction: column;
		text-align: center;



	}
	&__main-block{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__h2_block{
		font-family: $graphikbold_font;
		font-weight: 700;
		font-size: 60px;
		line-height: 70px;
		padding-bottom: 30px;
	}
	&__h2{}
	&__img{}
	&__h3{
		font-size: 22px;
		font-family: $nunito_font;
		font-weight: 600;
		padding-top: 20px;
	}
	&__p{
		font-size: 15px;
		font-family: $nunito_font;
		font-weight: 400;
		line-height: 25px;
		color: $white-07;
		padding-top: 20px;
	}
	&__item{
		text-align: center;
		max-width: 344px;
		max-height: 280px;
		margin: 21px 20px 0px 20px;


	}
}

.service_main {
	margin-top: 150px;
}
@media (max-width: 1000px) {
	.service {
		&__main-block{
			justify-content: center;
		}
}	}

// PORTFOLIO

.portfolio{
	padding: 75px 0px;
	&__h2{
		font-family: $graphikbold_font;
		font-weight: 700;
		font-size: 58px;
		padding-bottom: 24px;

	}
	&__images {
		display: flex;

	}
	&__item{
		img{
			background-color: #1E1E20;
			padding: 24px;
			border-radius: 8px;

		}
	}
	&__buttons{
		// display: none;
		display: flex;
		align-content: center;



	}
	&__button{
		width: 38px;
		height: 38px;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.2);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		&:hover{
			background-color: #5454D4;
		}
		&::before{
			content: "‹";
			font-size: 42px;
			font-family: Courier New;
			position: relative;
			top: 0;
			left: 0;
			color: #fff;
			
		}
		&:last-child{
			transform: rotate(185deg);
			margin-left: 15px;
		}
	}

}

@media (min-width: 768px) {
	.portfolio{
		&__images{
				flex-wrap: wrap;
		    }
		&__item{
			&:not(:first-child){
				margin-left: 24px;
			}
			&_1{
				margin-top: 70px;
			}
			&_2{
				margin-top: 128px;
			}
			&_3{
				margin-top: 186px;
			}
		}
	}
}
@media (max-width: 1270px) {
	.portfolio{
		&__item{
			&_1, &_2, &_3{
				margin-top: 0;
				margin-top: 24px;
			}
		}
		&__images{
			flex-direction: column;
			align-items: center;
		}
	}
}
@media (max-width: 768px) {
	.portfolio{
		&__image-content{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__images{
			flex-direction: row;
			align-items: start;
			display: none;
		}
	}
}